*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 2em;
  margin: 0;
  font-weight: bold;
}

.head {
  background-color: #43281c;
  color: #fbf2c0;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.head__brand {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fbf2c0;
}

.nav__logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* PAGE LAYOUT */
.page {
  display: grid;
  row-gap: 30px;
  column-gap: 30px;
  width: 100%;
  padding: 30px;
  margin: 0 auto;
  grid-template-areas:
    "order payment"
    "summary summary";
  grid-template-columns: 1fr 1fr;
}

.order,
.payment__name,
.payment__card,
.summary {
  background-color: #eee1d5;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
  padding: 15px;
  width: 100%;
}

.order {
  grid-area: order;
}

.order__title {
  color: #885a2d;
  font-weight: normal;
  font-size: 16px;
  margin: 0 0 12px 0;
}

.order__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.order__item {
  border-bottom: 2px solid #ddb892;
  display: grid;
  padding: 10px 0;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas:
    "quantity name price"
    "quantity options price";
  row-gap: 8px;
}
.order__item:last-child {
  border-bottom: none;
}

.order__item-quantity {
  grid-area: quantity;
}
.order__item-name {
  grid-area: name;
  font-weight: bold;
}
.order__item-price {
  grid-area: price;
  font-weight: bold;
  text-align: right;
}

.order__item-options {
  grid-area: options;
  color: #b08968;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.payment {
  grid-area: payment;
}

.payment__name {
  margin-bottom: 20px;
}

.payment__title {
  color: #885a2d;
  font-weight: normal;
  font-size: 16px;
  margin: 0 0 12px 0;
}

.payment__field {
  position: relative;
  margin-bottom: 16px;
  font-size: 12px;
}
.payment__field:last-child {
  margin-bottom: 0;
}

.payment__label {
  color: #885a2d;
  background-color: #eee1d5;
  font-size: 11px;
  position: absolute;
  left: 25px;
  top: -7px;
  padding: 0 2px;
}

.payment__input {
  background-color: transparent;
  border: 2px #885a2d solid;
  padding: 8px;
  border-radius: 100px;
  width: 100%;
  text-indent: 18px;
  font-size: 18px;
}

.payment__input--short {
  max-width: 160px;
}

.summary {
  grid-area: summary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.summary__table {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.summary__row td {
  padding: 4px 8px;
}
.summary__row td:last-child {
  text-align: right;
}

.summary__row--total td {
  font-weight: bold;
  padding-top: 8px;
}

.summary__button {
  background-color: #deb993;
  border: none;
  padding: 10px 30px;
  width: 100%;
  border-radius: 100px;
  font-size: 16px;
}
